<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("ViewCategory","Category","Category")
        @Html.ActionLink("View Language", "View_BookLanguage", "BookLanguage")
        @Html.ActionLink("ManageUser","ManageUser","Admin")
        @RenderBody()
    </div>
</body>
</html>
