@{
    Layout = "~/Views/Shared/_LASLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/Site.Master.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
     <title>@ViewBag.Title</title>
</head>
<body>
    <div class="AdminContainer">
        <div class="LeftNav">
            <ul>
                <li>@Html.ActionLink("ViewCategory", "Category", "Category") </li>
                <li>@Html.ActionLink("View Language", "View_BookLanguage", "BookLanguage")</li>
                <li> @Html.ActionLink("View Book", "ViewBook", "Book") </li>
                <li>@Html.ActionLink("ManageUser", "ManageUser", "Admin")</li>
            </ul>
        </div>
        <div class="RightContent">
            @RenderBody()
        </div>
     </div>
   
</body>
</html>
