<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("ViewCategory","Category","Admin")
        @Html.ActionLink("View Language", "View_BookLanguage","Admin")
        @Html.ActionLink("View Book", "ViewBook", "Book")
        @RenderBody()
    </div>
</body>
</html>
