<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-3.5.1.js"></script>
</head>
<body class="boddyContainer">
    <header class="headerContainer">
        <div class="HeaderTogglePanel clearfix" id="toggle-open">
            ☰
        </div>
        <div class="row">
            <div class="main-heading clear-fix">
                <h1> Atheneum</h1>
            </div>
            <div class="SearchBoxContainer clear-fix">
                <input type="text" placeholder="Search..." class="searchBox" />
            </div>
        </div>
   
    </header>

    <nav class="navContainer">
        <div class="links">
            @Html.ActionLink("Home", "Home", "HomeLAS")
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("Log Out", "Logout", "Account")
            }
            else
            {

                    @Html.ActionLink("Login", "Login", "Account")
            }
           @Html.ActionLink("About","","")
        </div>
    </nav>
    <main class="mainContainer">
        <aside class="sideBarContainer">
            <div class="LeftNav">              
                <div class="mainLeftNav">
                    <a href="#" class="toggle-close" id="toggle-close">&times;</a>
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {

                        @Html.ActionLink("ViewCategory", "Category", "Category")
                        @Html.ActionLink("View Language", "View_BookLanguage", "BookLanguage")
                         @Html.ActionLink("View Book", "ViewBook", "Book")
                        @Html.ActionLink("ManageUser", "ManageUser", "User")
                    }
                </div>
            </div>
        </aside>

        <main>
            <div class="maincontentContainer">
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    <div class="adminSearchBoxContainer">
                        <input type="text" placeholder="Search...." class="adminSearchBox" />
                    </div>
                }

                @RenderBody()
            </div>
        </main>
    </main>
    <footer class="footerContainer">
        <div class="footerContainer firstDiv">
            <p class="copyRights">This Website is manage by <span class="copyRightsSpan"><i>Aspire Systems</i></span></p>
        </div>
    </footer>


</body>
</html>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script>
    $(document).ready(function ()
    {
        $("#toggle-open").click(function () {
            $(".mainLeftNav").css("width", "15%");
        });
        $("#toggle-close").click(function () {
            $(".mainLeftNav").css("width", "0%");
        });

    });
</script>