<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @Html.ActionLink("Register", "Register", "LibraryAutomationSystem");
        @Html.ActionLink("Login", "Login", "LibraryAutomationSystem");
    
        
        @Html.ActionLink("Home","Home","HomeLAS")

        @RenderBody()

       
    </div>
</body>
</html>
