<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="Site.css" />

</head>
<body>
    <div>
        @Html.ActionLink("Register", "Register", "Account",new { @class="link"})
        @Html.ActionLink("Login", "Login", "Account")
    
        
        @Html.ActionLink("View Book", "ViewBook", "Book")
        @Html.ActionLink("Home","Home","HomeLAS")

        @RenderBody()

       
    </div>
</body>
</html>
