@model LibraryAutomationSystem.Models.BookLanguageModel

@{
    ViewBag.Title = "Create_BookLanguage";
}

<h2 class="AddLanguageHeader">Create BookLanguage</h2>

@using (Html.BeginForm("Create_BookLanguage", "BookLanguage", FormMethod.Post))
{
    <div class="AddLanguage">
        <div>
            @Html.DisplayNameFor(Model => Model.BookLanguageName)
            @Html.TextBoxFor(Model => Model.BookLanguageName, new { maxlength = 15, autocomplete = "off" })
            @Html.ValidationMessageFor(Model => Model.BookLanguageName, "", new { @class = "error" })
        </div>
        <div>
            @Html.AntiForgeryToken()
            <input type="submit" />
            <input type="button" value="Cancel" onclick='window.location="@Url.Action("View_BookLanguage","BookLanguage")";' />
        </div>
    </div>
}

