@model LibraryAutomationSystem.Models.Book

@{
    ViewBag.Title = "Add_Book";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add_Book</h2>

@using (Html.BeginForm("Add_Book", "Admin", FormMethod.Post))
{
    <div>
        <div>
            @Html.LabelFor(Model=>Model.BookName)
            @Html.TextBoxFor(Model=>Model.BookName,new { maxlength = 50 })
        </div>
        <div>
            @Html.LabelFor(Model=>Model.AuthorName)
            @Html.TextBoxFor(Model => Model.AuthorName, new { maxlength=50})
        </div>
        <div>
            @Html.LabelFor(Model=>Model.Category)
            @Html.DropDownListFor(Model=>Model.CategoryId,(IEnumerable<SelectListItem>)ViewBag.Category,"Choose Category")
        </div>
        <div>
            <input type="submit" value="Add Book" />
        </div>
    </div>
}

