@model  IEnumerable<LibraryAutomationSystem.Entity.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category</h2>

@Html.ActionLink("Create Category", "Create_Category", "Admin")

@*@foreach(LibraryAutomationSystem.Models.Category items in (IEnumerable<LibraryAutomationSystem.Models.Category>)TempData["Category"])
    {
        <div>
            @items.CategoryName
        </div>
    }*@
<table border="1">
    <tr>
        <td>
            CategoryID
        </td>
        <td>
            CategoryName
        </td>

    </tr>

    @foreach (LibraryAutomationSystem.Entity.Category item in (IEnumerable<LibraryAutomationSystem.Entity.Category>)TempData["Category"])

    {
        <tr>
            <td>
                @Html.
                @item.CategoryId
            </td>

            <td>
                @item.CategoryName
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit_Category", new { CategoryId = item.CategoryId })
                @Html.ActionLink("Delete", "Delete_Category", new { CategoryId = item.CategoryId })
            </td>

        </tr>

    }
</table>
