
@model IEnumerable< LibraryAutomationSystem.Entity.User>
@{
    ViewBag.Title = "ManageUser";
}

<h2>ManageUser</h2>

<h2>ViewUser</h2>

<table border="1">
    <tr>
        <td>Name</td>
        <td>UserName</td>
        <td>DOB</td>
        <td>DOJ</td>
        <td>Sex</td>
        <td>PhoneNumber</td>
        <td>Email</td>
        <td>Address</td>
    </tr>
    @foreach (LibraryAutomationSystem.Entity.User user in @Model)
    {
        @Html.HiddenFor(Model=>user.Id)
        <tr>
            <td>
                @user.MemberName;
            </td>
            <td>
                @user.MemberUserName;
            </td>
            <td>
                @user.MemberDOB;
            </td>
            <td>
                @user.MemberDOJ;
            </td>
            <td>
                @user.MemberSex;
            </td>
            <td>
                @user.MemberPhoneNumber;
            </td>
            <td>
                @user.Email;
            </td>
            <td>
                @user.MemberAddress;
            </td>
            <td> @Html.ActionLink("Delete", "Delete", new { userId = user.Id })
            </td>
        </tr>
    }
</table>

