@model LibraryAutomationSystem.Models.AddBookModel

@{
    ViewBag.Title = "AddBook";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="row">
    <h2 class="Heading">Add&mdash;Book</h2>
    <div class="AddBookContainer container">
        @using (Html.BeginForm("AddBook", "Book", FormMethod.Post,new { enctype="multipart/form-data" }))
        {

            <div>
                @Html.DisplayNameFor(Model => Model.BookTittle)
                @Html.TextBoxFor(Model => Model.BookTittle, new { maxlength = 25, autocomplete = "off",@class="form-control" })
                @Html.ValidationMessageFor(Model => Model.BookTittle, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.Category)
                @Html.DropDownListFor(Model => Model.CategoryId, ViewBag.Category as SelectList, "Select Category",new {@class="form-control" })
                @Html.ValidationMessageFor(Model => Model.CategoryId, "", new { @class = "error" })

            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.BookLanguage)
                @Html.DropDownListFor(Model => Model.BookLanguageId, ViewBag.BookLanguage as SelectList, "Select BookLanguage",new {@class="form-control" })
                @Html.ValidationMessageFor(Model => Model.BookLanguageId, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.AuthorName)
                @Html.TextBoxFor(Model => Model.AuthorName, new { maxlength = 25, autocomplete = "off", @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.AuthorName, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.BookType)
                @Html.EnumDropDownListFor(Model => Model.BookType, "Select BookType", new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.BookType, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.BookCount)
                @Html.TextBoxFor(Model => Model.BookCount, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.BookCount, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.BookImagePath)
                <input type="file" name="ImageFile" />
            </div>
            <div>
                @Html.AntiForgeryToken()
                <input type="submit" value="Add Book" class="btn link" />
                <input type="button" value="Cancel" class="btn link" onclick='window.location="@Url.Action("ViewBook","Book")";' />
            </div>



        }
    </div>
</div>


