@model LibraryAutomationSystem.Models.EditBookModel

@{
    ViewBag.Title = "EditBook";
}
<div class="EditBookContainer row container" >
    <h2 class="Heading">Edit&mdash;Book</h2>
    @using (Html.BeginForm("EditBook", "Book", FormMethod.Post,new { enctype="multipart/form-data"}))
    {
        Model.BookImagePath = Path.Combine("~/Images/", Model.BookImagePath);
        <div class="EditBook">
            <img src="@Url.Content(Model.BookImagePath )" />
            <div>
                @Html.HiddenFor(Model => Model.BookId)
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.BookTittle)
                @Html.TextBoxFor(Model => Model.BookTittle, new { maxlength = 25,@class="form-control" })
                @Html.ValidationMessageFor(Model => Model.BookTittle, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.Category)
                @Html.DropDownListFor(Model => Model.CategoryId, ViewBag.Category as SelectList, "Select BookLanguage", new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.CategoryId)
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.BookLanguage)
                @Html.DropDownListFor(Model => Model.BookLanguageId, ViewBag.BookLanguage as SelectList, "Select BookLanguage", new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.BookLanguageId)
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.AuthorName)
                @Html.TextBoxFor(Model => Model.AuthorName, new { maxlength = 25, @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.AuthorName, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.BookCount)
                @Html.TextBoxFor(Model => Model.BookCount,new { @class = "form-control", maxlength = 3 })
                @Html.ValidationMessageFor(Model => Model.BookCount, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model => Model.BookType)
                @Html.EnumDropDownListFor(Model => Model.BookType, "Select BookType", new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.BookType, "", new { @class = "error" })
            </div>
            <div>
                @Html.DisplayNameFor(Model=>Model.BookImagePath )
                <img src="@Url.Content(Model.BookImagePath )"  />
                <input type="file" name="ImageFile" />
            </div>
            <div>
                <input type="submit" value="Update" class="btn link" />
                <input type="button" value="Cancel" class="btn link"  onclick='window.location="@Url.Action("ViewBook","Book")";' />
            </div>
        </div>
    }

</div>