@model IEnumerable<LibraryAutomationSystem.Entity.Book>

@{
    ViewBag.Title = "ViewBook";
    }
    <link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Content/Library.js"></script>
<h2 class="ViewBookHeader">ViewBook</h2>
<div class="ViewBook">

    @Html.ActionLink("AddBook", "AddBook", "Book",new { @class="AddBookLink"})
    <table border="1">

        <tr>
            <td>
                BookId
            </td>
            <td>
                BookTittle
            </td>
            <td>
                Category
            </td>
            <td>
                BookLanguage
            </td>
            <td>
                AuthorName
            </td>
            <td>
                BookCount
            </td>
            <td>
                BookType
            </td>
            <td>
                Actions
            </td>
        </tr>
        @foreach (LibraryAutomationSystem.Entity.Book items in @Model)
        {
            <tr>
                <td>
                    @items.BookId
                </td>
                <td>
                    @items.BookTittle
                </td>
                <td>
                    @items.Category.CategoryName
                </td>
                <td>
                    @items.BookLanguage.BookLanguageName
                </td>
                <td>
                    @items.AuthorName
                </td>
                <td>
                    @items.BookCount
                </td>
                <td>
                    @items.BookType
                </td>
                <td>
                    @Html.ActionLink("EditBook", "EditBook", new { bookId = items.BookId })
                    @Html.ActionLink("DeleteBook", "DeleteBook", new { bookId = items.BookId },new {onclick= "return delete_Function('"+items.BookTittle+"');" })
                </td>
            </tr>

        }
    </table>
</div>

