@model IEnumerable<LibraryAutomationSystem.Entity.Book>

@{
    ViewBag.Title = "ViewBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ViewBook</h2>

@Html.ActionLink("AddBook", "AddBook","Book")
<table border="1">
  
    <tr>
        <td>
            BookId
        </td>
        <td>
            BookTittle
        </td>
        <td>
            Category
        </td>
        <td>
            BookLanguage
        </td>
        <td>
            AuthorName
        </td>
        <td>BookCount
        </td>
        <td>
            BookType
        </td>
    </tr>
    @foreach (LibraryAutomationSystem.Entity.Book items in @Model)
    {
        <tr>
            <td>
                @items.BookId
            </td>
            <td>
                @items.BookTittle
            </td>
            <td>
                @items.Category.CategoryName
            </td>
            <td>
                @items.BookLanguage.BookLanguageName
            </td>
            <td>
                @items.AuthorName
            </td>
            <td>
                @items.BookCount
            </td>
            <td>
                @items.BookType
            </td>
            <td>
                @Html.ActionLink("EditBook", "EditBook", new { bookId=items.BookId})
                @Html.ActionLink("DeleteBook", "DeleteBook", new { bookId=items.BookId})
            </td>
        </tr>

    }
</table>

