@model IEnumerable<LibraryAutomationSystem.Entity.Book>

@{
    ViewBag.Title = "ViewBook";
    }
    <link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Content/Library.js"></script>
<div class="row">
    <h2 class="Heading">View&mdash;Book</h2>
    <div class="ViewBook">

        @Html.ActionLink("AddBook", "AddBook", "Book", new { @class = "link btn" })
        <table>

            <tr>
                <th>
                    BookId
                </th>
                <th>
                    BookTittle
                </th>
                <th>
                    Category
                </th>
                <th>
                    BookLanguage
                </th>
                <th>
                    AuthorName
                </th>
                <th>
                    BookCount
                </th>
                <th>
                    BookType
                </th>
                <th>
                    Image
                </th>
                <th>
                    Actions
                </th>
            </tr>
            @foreach (LibraryAutomationSystem.Entity.Book items in @Model)
            {
                items.BookImagePath = Path.Combine("~/Images/",items.BookImagePath);
                <tr>
                    <td>
                        @items.BookId
                    </td>
                    <td>
                        @items.BookTittle
                    </td>
                    <td>
                        @items.Category.CategoryName
                    </td>
                    <td>
                        @items.BookLanguage.BookLanguageName
                    </td>
                    <td>
                        @items.AuthorName
                    </td>
                    <td>
                        @items.BookCount
                    </td>
                    <td>
                        @items.BookType
                    </td>
                    <td>
                        <img src="@Url.Content(items.BookImagePath )" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "EditBook", new { bookId = items.BookId }, new { @class = "link btn" })
                        @Html.ActionLink("Delete", "DeleteBook", new { bookId = items.BookId }, new { onclick = "return delete_Function('" + items.BookTittle + "');", @class = "link btn" })
                       
                    </td>
                    
                </tr>

            }
        </table>
    </div>
</div>
