@model LibraryAutomationSystem.Models.Category

@{
    ViewBag.Title = "Create_Category";
}

<h2 class="CreateCategoryHeader">Create_Category</h2>
@using (Html.BeginForm("Create_Category", "Category", FormMethod.Post))
{
    <div>
        <div>
            @Html.DisplayNameFor(Model=>Model.CategoryName)
            @Html.TextBoxFor(Model=>Model.CategoryName,new { maxlength=50})
            @Html.ValidationMessageFor(Model=>Model.CategoryName)

        </div>
        <div>
            @Html.ActionLink("Back","Category","Admin")
        </div>
        <div>
            <input type="submit" />
            @Html.ActionLink("Cancel","Category")
        </div>
    </div>
}

