@model LibraryAutomationSystem.Models.CategoryModel

@{
    ViewBag.Title = "Edit_Category";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<h2 class="EditCategoryHeader">Edit Category</h2>

@using (Html.BeginForm("Update_Category", "Category", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.CategoryId)
    <div class="EditCategory">
        <div>
            @Html.LabelFor(Model => Model.CategoryName)
            @Html.EditorFor(Model => Model.CategoryName)
            @Html.ValidationMessageFor(Model => Model.CategoryName)
        </div>
        <div>
            <input type="submit" />
            <input type="button" value="Cancel" onclick='window.location="@Url.Action("Category","Category")";' />
        </div>
    </div>
}

