@model LibraryAutomationSystem.Models.UserModel

<h1>Registration</h1>

    @using (Html.BeginForm("Register", "LibraryAutomationSystem", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.memberName)
                </td>
                <td>
                    @Html.EditorFor(Model => Model.memberName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.memberUserName)
                </td>
                <td>
                    @Html.EditorFor(Model=>Model.memberUserName)
                </td>
            </tr>
            <tr>

                <td>
                  @Html.DisplayNameFor(Model=>Model.password)
                </td>
                <td>
                    @Html.EditorFor(Model=>Model.password)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.memberPassword)
                </td>
                <td>
                    @Html.EditorFor(Model=>Model.memberPassword)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.memberDOB)
                </td>
                <td>
                    @Html.EditorFor(Model=>Model.memberDOB)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.memberDOJ)
                </td>
                <td>
                    @Html.EditorFor(Model=>Model.memberDOJ)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.memberSex)
                </td>
                <td>
                    @Html.RadioButtonFor(Model=>Model.memberSex,"Male")Male
                    @Html.RadioButtonFor(Model=>Model.memberSex,"Fe-male")Fe-male
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.memberPhoneNumber)
                </td>
                <td>
                    @Html.EditorFor(Model=>Model.memberPhoneNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.e_Mail)
                </td>
                <td>
                    @Html.EditorFor(Model=>Model.e_Mail)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(Model=>Model.memberAddress)
                </td>
                <td>
                    @Html.EditorFor(Model=>Model.memberAddress)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.AntiForgeryToken()
                    <input type="submit" />
                </td>
            </tr>
        </table>
    }

