@model LibraryAutomationSystem.Models.UserModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm("Register", "LibraryAutomationSystem", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.memberName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.memberName, new { maxlength = 25 })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.memberUserName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.memberUserName, new { maxlength = 25 })
            </td>
        </tr>
        <tr>

            <td>
                @Html.DisplayNameFor(Model => Model.password)
            </td>
            <td>
                @Html.PasswordFor(Model => Model.password, new { maxlength = 25 })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.memberPassword)
            </td>
            <td>
                @Html.PasswordFor(Model => Model.memberPassword, new { maxlength = 25 })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.memberDOB)
            </td>
            <td>
                @Html.EditorFor(Model => Model.memberDOB, new { maxlength = 10 })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.memberDOJ)
            </td>
            <td>
                @Html.EditorFor(Model => Model.memberDOJ, new { maxlength = 10 })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.memberSex)
            </td>
            <td>
                @Html.RadioButtonFor(Model => Model.memberSex, "Male")Male
                @Html.RadioButtonFor(Model => Model.memberSex, "Fe-male")Fe-male
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.memberPhoneNumber)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.memberPhoneNumber, new { maxlength = 10 })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.e_Mail)
            </td>
            <td>
                @Html.EditorFor(Model => Model.e_Mail, new { })
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(Model => Model.memberAddress)
            </td>
            <td>
                @Html.TextAreaFor(Model => Model.memberAddress, new { maxlength = 50 })
            </td>
        </tr>
        <tr>
            <td>

                <input type="submit" />
            </td>
        </tr>
    </table>
}





