@model LibraryAutomationSystem.Entity.User

@{
    ViewBag.Title = "RegistrationUser";
}

<h2>RegistrationUser</h2>
@{
    Html.RenderPartial("LASPartialView");
}
@using (Html.BeginForm("RegistrationUser", "LibraryAutomationSystem", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.Label("Name");
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.memberName)
                @Html.ValidationMessageFor(M => M.memberName)

        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("UserName")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.memberUserName)
            @Html.ValidationMessageFor(M => M.memberUserName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Password")
        </td>
        <td>
            @Html.PasswordFor(Model => Model.memberPassword)
            @Html.ValidationMessageFor(M => M.memberPassword)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("DateOfBirth")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.memberDOB)
            @Html.ValidationMessageFor(M => M.memberDOB)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("DateOfJoining")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.memberDOJ)
            @Html.ValidationMessageFor(M => M.memberDOJ)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Sex")
        </td>
        <td>
            @Html.RadioButtonFor(Model => Model.memberSex, "Male") Male
            @Html.RadioButtonFor(Model => Model.memberSex, "Fe-Male") Fe-Male
            @Html.ValidationMessageFor(M => M.memberSex)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Phone")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.memberPhoneNumber)
            @Html.ValidationMessageFor(M => M.memberPhoneNumber)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("E-mail")
        </td>
        <td>
            @Html.TextBoxFor(Model => Model.e_Mail)
            @Html.ValidationMessageFor(M => M.e_Mail)
        </td>
    </tr>
    <tr>
        <td>
            @Html.Label("Address")
        </td>
        <td>
            @Html.TextAreaFor(Model => Model.memberAddress,3,10,null)
            @Html.ValidationMessageFor(M => M.memberAddress)
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" />
        </td>
    </tr>
</table>
}