@model LibraryAutomationSystem.Models.RegistrationModel

@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.5.1.js"></script>
@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <div class="Register-panel">

        <div class="Register-Header">
            Register
        </div>
        <div class="Register-Body">
            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.MemberName)

                @Html.TextBoxFor(Model => Model.MemberName, new { maxlength = 25, @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(Model => Model.MemberName, "", new { @class = "error" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.MemberUserName)

                @Html.TextBoxFor(Model => Model.MemberUserName, new { maxlength = 25, @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(Model => Model.MemberUserName, "", new { @class = "error" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.Password)

                @Html.PasswordFor(Model => Model.Password, new { maxlength = 25, @class = "form-control", autocomplete = "off" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.MemberPassword)

                @Html.PasswordFor(Model => Model.MemberPassword, new { maxlength = 25, @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(Model => Model.MemberPassword, "", new { @class = "error" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.MemberDOB)

                @Html.EditorFor(Model => Model.MemberDOB, new { maxlength = 10, @class = "input", autocomplete = "off" })
                @Html.ValidationMessageFor(Model => Model.MemberDOB, "", new { @class = "error" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.MemberDOJ)

                @Html.EditorFor(Model => Model.MemberDOJ, new { maxlength = 10, @class = "input", autocomplete = "off" })
                @Html.ValidationMessageFor(Model => Model.MemberDOJ, "", new { @class = "error" })
            </div>
            <div class="form-group Register-Gender" >

                @Html.DisplayNameFor(Model => Model.MemberSex)
                <div class="Register-Gender">
                    @Html.RadioButtonFor(Model => Model.MemberSex, "Male", new { @class = "input" })Male
                    @Html.RadioButtonFor(Model => Model.MemberSex, "Fe-male", new { })Fe-male
                    @Html.ValidationMessageFor(Model => Model.MemberSex, "", new { @class = "error" })
                </div>
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.MemberPhoneNumber)

                @Html.TextBoxFor(Model => Model.MemberPhoneNumber, new { maxlength = 10, @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(Model => Model.MemberPhoneNumber, "", new { @class = "error" })
            </div>
            <div class="form-group">
                @Html.DisplayNameFor(Model => Model.Email)

                @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control", autocomplete = "off" })
                @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "error" })
            </div>
            <div class="form-group">

                @Html.DisplayNameFor(Model => Model.MemberAddress)

                @Html.TextAreaFor(Model => Model.MemberAddress, new { maxlength = 50, @class = "form-control", autocomplete = "off",
               disabled = "disabled"})
                @Html.ValidationMessageFor(Model => Model.MemberAddress, "", new { @class = "error" })
            </div>
        </div>


        @Html.AntiForgeryToken()
        <br />
        <div class="Register-Footer">
            <div class="Submit-Register">
                <input type="submit" value="Register" class="Register-Button" />
            </div>

        </div>
    </div>

}
<script>
    $(document).ready(function () {
        $("#address").attr('disabled', true);
    });
</script>







