
@model IEnumerable<LibraryAutomationSystem.Entity.User>
@{
    ViewBag.Title = "ManageUser";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="ViewUserContainer">
    <h2 class="ViewUserHeader">View User</h2>
    <div class="ViewUser">

        <table border="1">
            <tr>
                <td>Name</td>
                <td>UserName</td>
                <td>DOB</td>
                <td>DOJ</td>
                <td>Sex</td>
                <td>PhoneNumber</td>
                <td>Email</td>
                <td>Address</td>
                <td>Actions</td>
            </tr>
            @foreach (LibraryAutomationSystem.Entity.User user in @Model)
            {
                @Html.HiddenFor(Model => user.Id)
                <tr>
                    <td>
                        @user.MemberName
                    </td>
                    <td>
                        @user.MemberUserName
                    </td>
                    <td>
                        @user.MemberDOB
                    </td>
                    <td>
                        @user.MemberDOJ
                    </td>
                    <td>
                        @user.MemberSex
                    </td>
                    <td>
                        @user.MemberPhoneNumber
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.MemberAddress
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteUser", new { userId = user.Id })
                    </td>
                </tr>
            }
        </table>

        </div>
</div>