
@model IEnumerable<LibraryAutomationSystem.Entity.User>
@{
    ViewBag.Title = "ManageUser";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Content/Library.js"></script>
<div class="row">
    <h2 class="Heading">View&mdash;User</h2>
    <div class="ViewUserContainer">

        <table>
            <tr>
                <th>Name</th>
                <th>UserName</th>
                <th>DOB</th>
                <th>DOJ</th>
                <th>Sex</th>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
            @foreach (LibraryAutomationSystem.Entity.User user in @Model)
            {
                @Html.HiddenFor(Model => user.Id)
                <tr>
                    <td>
                        @user.MemberName
                    </td>
                    <td>
                        @user.MemberUserName
                    </td>
                    <td>
                        @user.MemberDOB
                    </td>
                    <td>
                        @user.MemberDOJ
                    </td>
                    <td>
                        @user.MemberSex
                    </td>
                    <td>
                        @user.MemberPhoneNumber
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        @user.MemberAddress
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "DeleteUser", new { userId = user.Id }, new { onclick = "return delete_Function('" + user.MemberUserName + "');",@class="link btn" })
                    </td>
                </tr>
            }
        </table>

        </div>
</div>